.msg{
    background-color: #155724;
    color: white;
    border: 1px solid #155724;
    width: 100%;
    margin-bottom: 0px;
    text-align: center;
    padding: 10px;
}

.msg1{
    background-color: #051ceb;
    color: white;
    border: 1px solid #051ceb;
    width: 100%;
    margin-bottom: 0px;
    text-align: center;
    padding: 10px;
}

.msg2{
    background-color: #eb0e0e;
    color: white;
    border: 1px solid #eb0e0e;
    width: 100%;
    margin-bottom: 0px;
    text-align: center;
    padding: 10px;
}

